/*
* === SASS VARIABLES ===
*/

$blue: rgb(8, 86, 251);
//$blue: rgb(0, 50, 153);
$blue-transparent: rgba(8, 86, 251, .65);
$blue-transparent-light: rgba(8, 86, 251, .25);
//$blue-transparent: rgba(0, 50, 153, .65);
$logo-blue: rgb(0, 50, 153);
$textonblue: #fff;
$main-font-stack: 'Open Sans', sans-serif;

$height-first-row: 300px;
$page-max-width: 1500px;
$page-desktop-relative-width: 90%;
$page-desktop-relative-width-narrow: 97%;
$page-desktop-relative-width-mobile: 100%;
