@import url('https://fonts.googleapis.com/css?family=Open+Sans|Signika');

@import "variables";


/*
* === GLOBAL RESETS AND HELP CLASSES===
*/

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font-stack;
}

.blue {
  color: $blue;
}

img {
  width: 100%;
  height: auto;
}

.white-link {
  color: white;
  &:link {
    color: white;
  }
  &:visited {
    color: white;
  }
  &:active {
    color: grey;
  }
  &:hover {
    color: white;
    text-decoration: underline;
  }
}

a {
  color: $logo-blue;
  &:link {
    color: $logo-blue;
  }
  &:visited {
    color: $logo-blue;
  }
  &:active {
    color: $blue;
  }
  &:hover {
    color: $logo-blue;
    text-decoration: underline;
  }
}

input[type=submit] {
  background-color: $logo-blue;
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 7px;
  margin-top: 10px;
}

input[type=tel],
input[type=email],
input[type=text] {
  padding: 4px;
  border-radius: 5px;
  border: 1px solid $logo-blue;
  margin: 2px;
}

textarea {
  border-radius: 5px;
  border: 1px solid $logo-blue;
  margin: 2px;
}

.antispam {
  display: none;

}

.ajax-loader {
  display: none;
  background-color: $logo-blue;
  color: rgb(255,255,255);
  border: 1px solid rgb(255,255,255);
  border-radius: 5px;
  text-align: center;
  padding: 4px 7px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*
* === SPECIFIC STYLES ===
*/

body {
  &::after {
  content: " ";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  }

  &.body1::after {
    background-image: url('../upload/background-1.jpg');
  }
  &.body2::after {
    background-image: url('../upload/background-2.jpg');
  }
  &.body3::after {
    background-image: url('../upload/background-3.jpg');
  }
  &.body4::after {
    background-image: url('../upload/background-4.jpg');
  }
  &.body5::after {
    background-image: url('../upload/background-5.jpg');
  }
  &.body6::after {
    background-image: url('../upload/background-6.jpg');
  }
}

/*
* — Header and Navigation —
*/

nav#to-top-chevron {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
  opacity: 0;


  a {
    display: inline-block;
    color: rgba(255,255,255,.35);
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,.3);
    text-align: center;
    border-radius: 100%;
    line-height: 53px;
    vertical-align: middle;

    &:hover {
      color: rgba(255,255,255,.95);
    }

  }

}

header {

  padding: 40px 0;

  .header-wrap {
    padding-bottom: 35px;
    max-width: $page-max-width;
    width: $page-desktop-relative-width;
    overflow: hidden;
    margin: 0 auto;


    .top-logo {
      float: left;
      display: block;
      position: relative;
      background-color: rgba(255,255,255,0.52);
      padding: 2px;
      border-radius: 6px;
      margin-right: 10px;
      max-width: 174px;




      figcaption {
        font-size: 1.05rem;
        font-weight: bolder;
        color: $logo-blue;
        text-align: center;
        padding-top: 1px;
      }
    }

    nav {
      display: block;

      text-align: right;


      .nav {
        text-align: right;
        margin-left: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;


        overflow: hidden;

        li {
          display: block;
          flex: 1 0 auto;
          white-space: nowrap;
          margin: 0px;
          padding: 0px;




        }
      }

      .nav-pills a {
        color: $textonblue;
        text-align: center;
        margin: 0px;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid white;
        margin: 2px;
        background-color: $logo-blue;

        &:hover {
          background-color: $blue-transparent;
        }


      }

    }
  }

  #categories-wrap {
    border: $textonblue 1px solid;
    background-color: $blue;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    padding: 0;
    max-width: $page-max-width;
    width: $page-desktop-relative-width;
    margin: auto;

    li {
      display: block;
      background-color: $blue;
      font-weight: bold;
      font-size: 1.6rem;
      flex: 1 0 auto;
      text-align: center;
      outline-color: $textonblue;
      outline-style: solid;
      outline-width: 1px;
      white-space: nowrap;
      padding: 0 1px;

      &:hover {
        background-color: $textonblue;
        a {
          color: $blue;
        }
      }
      a {
        color: $textonblue;
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 10px 14px;
      }
    }
  }

}



/*
* — Start Page —
*/

.btn-default {
  background-color: $blue;
  color: $textonblue;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 10px 15px;
}

.main-section {
  padding: 15px;
  max-width: $page-max-width;
  width: $page-desktop-relative-width;
  margin: auto;
  background: #fff;
  border-radius: 10px;

  article,
  div,
  section {
    overflow: hidden;

  }



  .trip-featured {
    min-height: $height-first-row;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;

    div {
      font-size: .92vw;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      margin: 0;
      padding: 5px;
      width: 100%;
      position: absolute;
      bottom: 0;

      p {
        float: left;
      }

      i {
        float: right;
      }

    }
  }

  .trip-featured-img-list {
    max-height: 220px;
    max-width: 220px;
    width: 25%;
    min-width: 150px;
    float: left;
    padding: 10px;
    border: solid 1px black; //TODO
    margin-right: 20px
  }


    .action-btn {
      margin-top: 40px;
      margin-bottom: 30px;
      margin-left: 30px;
      margin-right: 30px;
      }

      .facebook-visit {

        padding: 0px;

        img {
           height: 42px;
           width:auto;
           border-radius: 2px;
        }
      }


}

/*
* — Footer —
*/

.main-footer {
  color: $textonblue;
  background-color: $blue;
  border-radius: 10px;
  max-width: $page-max-width;
  width: $page-desktop-relative-width;
  padding: 10px;
  margin: 30px auto;
  text-align: center;

  .footer-heading {
    font-size: 2.21rem;
  }

  input[type=email] {
    width: calc(95%-100px);
    min-width: 300px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid rgb(255,255,255);
    margin: 3px;
  }

  input[type=submit] {
    background-color: $logo-blue;
    color: rgb(255,255,255);
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    text-transform: uppercase;
    padding: 4px 7px;
    margin: 3px;

  }



    address {
      margin: 15px auto;
      font-size: 1rem;
      line-height: 120%;

      p {
        margin: 1px;


      }
    }




 .koncern-logo-container {
   display: flex;
   //align-content: center;
   justify-content: space-around;
   align-content: center;
   align-items: center;
   flex-flow: row wrap;


  img {
      flex: 0 0 auto;
      border-radius: 5px;
      width: 137px;
      height: 32px;
      border: 2px solid rgba(255,255,255,.52);
      margin: 3px;
    }



  }

}



/*
* === LAYOUT MEDIA QUERIES ===
*/


@media (max-width: 768px) {


  .hide-on-tiny { display: none !important; }
  .clear-on-tiny {
    clear: both !important;
  }
  .center-on-tiny {
    text-align: center !important;
    margin: 0 auto !important;
    margin-bottom: 6px !important;
    float: none !important;
  }
}


/*
* === LAYOUT MEDIA QUERIES ===
*/

@media (max-width: 1300px) {

  .main-section .trip-featured div {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {

  .main-section .trip-featured div {
    font-size: 1.085rem;
  }


  header .header-wrap,
  header #categories-wrap,
  main.main-section,
  footer.main-footer {
    width: $page-desktop-relative-width-narrow;
  }

}

@media (max-width: 415px) {


  header .header-wrap,
  header #categories-wrap,
  main.main-section,
  footer.main-footer {
  width: $page-desktop-relative-width-mobile;

  }

}


/*
* === TEST ZONE & DEBUG ===
*/
