Thumbs.db
config/config.php
upload/*.jpeg
upload/*.jpg
upload/*.pdf
upload/*.png
upload/**/*.png
upload/**/*.pdf
upload/**/*.jpg
upload/**/*.jpeg
vendor/
/vendor/
vendor/**
.idea/
ignore/
css/**/*.min.css
css/**/*.css
css/**/*.map
admin/css/**/*.min.css
admin/css/**/*.css
admin/css/**/*.map
!.vscode/settings.json
.vscode/sftp.json

