RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]


RewriteEngine On
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/favicon
RewriteCond %{REQUEST_URI} !^/tests
RewriteCond %{REQUEST_URI} !^/error
RewriteCond %{REQUEST_URI} !^/ignore
RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|js|css|swf|ico|pdf|woff2|woff|otf|svg|eot|ttf|map|json)$
RewriteCond %{REQUEST_URI} !^/google\S*.html
RewriteRule . index.php [L,QSA]


<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/png "access 1 year"
    ExpiresByType image/gif "access 1 year"
    ExpiresByType image/jpeg "access 3 months"
    ExpiresByType text/css "access 3 month"
    ExpiresByType application/javascript "access 3 months"
    ExpiresByType text/html "access 10 hours"
    ExpiresDefault "access 10 hours"
</IfModule>
