RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/favicon
RewriteCond %{REQUEST_URI} !^/tests
RewriteCond %{REQUEST_URI} !^/error
RewriteCond %{REQUEST_URI} !^/ignore
RewriteCond %{REQUEST_URI} !\.(gif|jpe?g|png|js|css|swf|ico|pdf|woff2|woff|otf|svg|eot|ttf|map|json)$
RewriteCond %{REQUEST_URI} !^/google\S*.html
RewriteRule . index.php [L,QSA]

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/png "access 1 month"
    ExpiresByType image/gif "access 1 month"
    ExpiresByType image/jpeg "access 2 months"
    ExpiresByType image/jpg "access 2 months"
    ExpiresByType text/css "access 1 month"
    ExpiresByType application/pdf "access 1 month"
    ExpiresByType application/javascript "access 4 days"
    ExpiresByType application/x-javascript "access 4 days"
    ExpiresByType text/html "access 1 hours"
    ExpiresDefault "access 5 hours"
</IfModule>

<IfModule mod_deflate.c>

    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE "application/atom+xml" \
                                      "application/javascript" \
                                      "application/json" \
                                      "application/ld+json" \
                                      "application/manifest+json" \
                                      "application/rdf+xml" \
                                      "application/rss+xml" \
                                      "application/schema+json" \
                                      "application/geo+json" \
                                      "application/vnd.ms-fontobject" \
                                      "application/wasm" \
                                      "application/x-font-ttf" \
                                      "application/x-javascript" \
                                      "application/x-web-app-manifest+json" \
                                      "application/xhtml+xml" \
                                      "application/xml" \
                                      "font/eot" \
                                      "font/opentype" \
                                      "font/otf" \
                                      "image/bmp" \
                                      "image/svg+xml" \
                                      "image/vnd.microsoft.icon" \
                                      "text/cache-manifest" \
                                      "text/calendar" \
                                      "text/css" \
                                      "text/html" \
                                      "text/javascript" \
                                      "text/plain" \
                                      "text/markdown" \
                                      "text/vcard" \
                                      "text/vnd.rim.location.xloc" \
                                      "text/vtt" \
                                      "text/x-component" \
                                      "text/x-cross-domain-policy" \
                                      "text/xml"

    </IfModule>

    <IfModule mod_mime.c>
        AddEncoding gzip              svgz
    </IfModule>

</IfModule>
RewriteCond %{HTTP_HOST} ^xn\-\-rekresor\-c0a\.se\.hisingebusstest\.hemsida\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.xn\-\-rekresor\-c0a\.se\.hisingebusstest\.hemsida\.eu$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^xn\-\-rekresor\-c0a\.se$ [OR]
RewriteCond %{HTTP_HOST} ^www\.xn\-\-rekresor\-c0a\.se$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^rekoresor\.se\.hisingebusstest\.hemsida\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekoresor\.se\.hisingebusstest\.hemsida\.eu$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^rekoresor\.com\.hisingebusstest\.hemsida\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekoresor\.com\.hisingebusstest\.hemsida\.eu$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^rekoresor\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekoresor\.com$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^rekaresor\.se\.hisingebusstest\.hemsida\.eu$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekaresor\.se\.hisingebusstest\.hemsida\.eu$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^rekaresor\.se$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekaresor\.se$
RewriteRule ^(.*)$ "https\:\/\/www\.rekoresor\.se\/$1" [R=301,L]
