RewriteEngine On
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/favicon
RewriteCond %{REQUEST_URI} !^/runonce
RewriteCond %{REQUEST_FILENAME} \.(gif|jpe?g|png|js|css|swf|ico|txt|pdf|xml)$ [OR]
RewriteRule . index.php
