@import "variables";


#booktour-form {


  .ajax-loader {
    width: 172px;
    height: 38px;
  }

  input[type=email],
  input[type=text] {
    width: 343px;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid $logo-blue;
    margin: 2px;
  }

  input[name=zip] {
    width: 110px;
  }

  input[name=city] {
    width: 230px;
  }

  h2 {
    font-size: 2rem;
  }


  ul {
  	margin: 0;
    padding: 0;
    list-style: none;
  }
  ul li {
  	position: relative;
  	height: 2em;
    margin-top: 1px;
  }

  textarea {
    min-width: 333px;
    min-height: 200px;
  }

  input[type=checkbox] {
  	opacity: 0;
  }
  input[type=checkbox] + label {
  	font-weight: normal;
  	position: absolute;
  	right:0; left:0;
  	padding-left: 5px;
  	cursor: pointer;
  }
  input[type=checkbox] + label:hover {
  	font-weight: bold;
  }
  input[type=checkbox] + label::before {
  	font-family: FontAwesome;
  	display: inline-block;
  	content: "\f096";
  	width: 1.5em;
    color: $logo-blue;
  }


  input[type=checkbox]:checked + label::before {
  	content: "\f046";
  }

  input[type=radio] {
  	opacity: 0;
  }
  input[type=radio] + label {
  	font-weight: normal;
  	position: absolute;
  	right:0; left:0;
  	padding-left: 5px;
  	cursor: pointer;
  }
  input[type=radio] + label:hover {
  	font-weight: bold;
  }

  input[type=radio] + label::before {
  	font-family: FontAwesome;
  	display: inline-block;
  	content: "\f10c";
  	width: 1.5em;
    color: $logo-blue;
  }

  input[type=radio]:checked + label::before {
  	content: "\f111";
  }




  input[type=submit] {
    background-color: $logo-blue;
    color: rgb(255,255,255);
    border: 1px solid rgb(255,255,255);
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    padding: 4px 7px;
    margin-top: 10px;
    width: 172px;
    height: 38px;
  }

}
