body {
  font-family: "Open Sans", sans-serif;
  margin: 4px;
}

h1 {
  padding: 10px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 2.1em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  padding: 0;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  float: left;
  width: calc(100% - 58px);
  margin-bottom: 8px;
  padding: 1px;
}

textarea {
  border-radius: 3px;
}

button {
  border: 1px solid #0000ff;
  background-color: #0d61de;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  border-radius: 3px;
  margin-bottom: 8px;
}

button:hover {
  background-color: #0000ff;
}

a {
  color: #0d61de;
}

a:hover {
  color: #0000ff;
}

.button-right {
  float: right;
}

nav.main-nav-admin {
  margin: 0 auto;
  text-align: center;
  width: 95%;
}

nav.main-nav-admin > a > button {
  padding: 5px 20px;
  font-weight: bold;
  font-size: 1.12em;
}

nav.nav-small-float {
  position: absolute;
  top: 2px;
  right: 2px;
}

nav.nav-small-float > a > button {
  padding: 1px 2px;
  font-size: 0.78em;
  margin-left: 4px;
  background-color: transparent;
  color: #555;
  border-color: #555;
}

nav.nav-small-float > a > button:hover {
  background-color: #0000ff;
  color: #fff;
  border-color: #0000ff;
}

#trip-list,
#category-list,
#stop-list,
#roomopt-list,
#extra-list {
  display: none;
  list-style-type: none;
  padding: 0;
}

#trip-list li,
#category-list li,
#stop-list li,
#roomopt-list li,
#extra-list li {
  padding-top: 10px;
  width: 100%;
}

#trip-list li table,
#category-list li table,
#stop-list li table,
#roomopt-list li table,
#extra-list li table {
  width: 100%;
}

#trip-list li table tr,
#category-list li table tr,
#stop-list li table tr,
#roomopt-list li table tr,
#extra-list li table tr {
  border-bottom: 1px solid #ccc;
}

#trip-list li table tr:hover,
#category-list li table tr:hover,
#stop-list li table tr:hover,
#roomopt-list li table tr:hover,
#extra-list li table tr:hover {
  background-color: rgba(225, 225, 225, 0.5);
}

#trip-list li table td,
#trip-list li table th,
#category-list li table td,
#category-list li table th,
#stop-list li table td,
#stop-list li table th,
#roomopt-list li table td,
#roomopt-list li table th,
#extra-list li table td,
#extra-list li table th {
  padding: 4px 0;
  text-align: left;
}

#trip-list li table .table-name,
#category-list li table .table-name,
#stop-list li table .table-name,
#roomopt-list li table .table-name,
#extra-list li table .table-name {
  padding: 4px;
}

#trip-list li table [class^="table-state-"],
#category-list li table [class^="table-state-"],
#stop-list li table [class^="table-state-"],
#roomopt-list li table [class^="table-state-"],
#extra-list li table [class^="table-state-"] {
  width: 23px;
  text-align: center;
  padding: 4px 5px 4px 7px;
}

#trip-list li table [class^="table-reorder-"],
#category-list li table [class^="table-reorder-"],
#stop-list li table [class^="table-reorder-"],
#roomopt-list li table [class^="table-reorder-"],
#extra-list li table [class^="table-reorder-"] {
  width: 12px;
  text-align: center;
  padding: 4px 3px;
}

#trip-list li table .table-delete,
#category-list li table .table-delete,
#stop-list li table .table-delete,
#roomopt-list li table .table-delete,
#extra-list li table .table-delete {
  width: 23px;
  text-align: center;
  padding: 4px 0 4px 5px;
}

.php-error {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-align: center;
  z-index: 10000;
  padding: 20px;
  color: #f00;
  font-weight: bold;
}

img.login-screen {
  margin: 100px auto 50px auto;
  width: 180px;
  display: block;
}

#login-form > fieldset {
  display: block;
  text-align: center;
  width: 100%;
  width: 400px;
  margin: 10px auto;
}

#login-form label {
  display: block;
  margin: 2px auto;
}

#login-form input#login-user,
#login-form input#loginpwd,
#login-form button#login-submit {
  display: block;
  width: 400px;
  padding: 2px;
  margin: 2px auto;
}

#login-form div.g-recaptcha > div {
  margin: 10px auto;
}

/*# sourceMappingURL=admin.css.map */